<!-- Each movie has a reviews page -->
<!-- users open a movie from the home page and this page opens -->
<!-- (maybe give admins a way to add descriptions later) -->
<!-- This page shows the movie on top with an image (and maybe a description on the side for aesthetics) -->
<!--and below the movie u have all the user reviews with their rating-->
<!--Reviews will be held in cards showing the review name and the review text and rating at the bottom-->
<p>reviews works!</p>
<h1>{{ title }}</h1>
<h1>{{ desc }}</h1>
<a href="/movies/{{ id }}/add_review">Add Review</a>
