<!-- Page where users add reviews to existing movies -->
<!-- after pressing in + sign in the movie reviews page u come here to add a new review -->
<!-- This page will just have a text box and a slider to select a rating and submit -->
<form [formGroup]="regForm" (ngSubmit)="newReviewSubmit()">
  <div class="form-group">
    <div class="form-group textarea">
      <label for="exampleFormControlTextarea1">Review: </label>
      <textarea
        formControlName="review"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="8"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </div>
</form>
