.card{
    width: 18rem;
    
}
.card-img-top {
    height: 400px;
}
p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
  }
  
  .modal-lg{
    width: 60%;
    margin: auto;
  }

  .modal-header{
    background-color: aliceblue;
  }

  .modal-header > .card-img-top{
    height: 200px;
    width: auto;
    margin-left: 5%;
  }


  .modal-header > h4{
    
    position: relative;
    vertical-align: top;
    text-align: left;
  }