<!-- Main home page showing all the movies -->
<!-- Movies show up as cards with a picture and the title and rating beneath -->
<!-- nav bar allows admins to add new movies -->
<!-- non admins will open a movie and press a + sign to add a review -->

<div class="content mt-2">
  <div fxLayout="row wrap center center" fxLayoutGap="12px grid">
    <div
      fx-layout-align-stretch
      fx-layout-align-space-evenly-stretch
      *ngFor="let num of [1, 2, 3, 4, 7, 8]"
    >
      <app-movie-card
        [img]="message"
        [desc]="message"
        [title]="message"
      ></app-movie-card>
    </div>
  </div>
</div>
